*{
  margin: 0px;
  padding: 0px;
 
}
body{
  background: rgb(255, 255, 255);
  overflow-x: hidden;
 
}


.navbar {
    overflow: hidden;
    background-color: #161725;
    font-family:Trebuchet MS;
    font-weight: bold;
    
  }

  .navbar a:hover {

    background: linear-gradient(180deg, rgba(164,252,255,1) 0%, rgba(58,45,255,1) 100%);
  transition: 1s;
    }

#logo{
  font-family:monospace;
  font-weight: lighter;
  float: left;  
  letter-spacing: 5px;
  width: 18%;
}
.navbar .active {
  background: rgb(255, 205, 205);
  color: #161725;

}
#logo a:hover{
  background:#161725 ;
}


.navbar a {
  float: right;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  
  }
  
#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #161725;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: .7;
  }
  #myBtn:hover {
    background-color: #555;
  }  

  .mid-content {
    height: 600px;
    width: 1519px;
    background: linear-gradient(180deg, rgba(164,252,255,1) 0%, rgba(58,45,255,1) 100%);
    margin: 0px;
    overflow:hidden;
  }


  #e-com-head {
    position: relative;
    top: 15px;
    font-family: agency fb;
    color: #002d62;
    font-size: 75px;
    width: cover;
  }
  #e-com-head2 {
    position: relative;
    font-family: agency fb;
    color: #e6e6fa;
    font-size: 70px;
    font-weight: lighter;
    width:1920px;
  }
  #header {
    width: 100%;
  }
  #shop_girl {
    position: relative;
    margin-top: 60px;
    margin-left: 800px;
    bottom: 370px;
    width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #header {
    position: relative;
    top: 80px;
    left: 40px;
    border-left: 10px solid white;
    padding-left: 15px;
    height: 300px;
  }

  #graphimage {
    position: relative;
    margin-top: 10px;
    margin-left: 100px;
    overflow: hidden;
    width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }

 .graph {
   width: 1519px;
   padding: 0px;
   margin: 0px;
   
 }
   

  
  #ecom-content {
    font-family: agency fb;
    font-weight: bold;
    font-size: 40px;
    color:rgb(15, 8, 46);
    text-align: right;
    height: 400px;
    width: 600px; 
  
  }
  #ecom-content2{
    font-family: agency fb;
    font-weight: lighter;
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-align: right;
  }
  #graphtext {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
  }




  .hero-image {
    
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font: bold;
    font-family: agency fb;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  #buttone {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-decoration-line: none
    
  }
  
   a:hover #buttone {
    background-color: rgb(255, 251, 251) ;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 1s;
    
  }
  #ecomimage {
   width: 1519px;
   filter: blur(1px);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


  #footer {
    position: absolute;
    width: 1470px;
    left: 0px;
    z-index: 1;
    background-color: #05101d;
    margin-top: 100px;
    height: 200px;
    padding: 30px;
    font-size: .8rem;
  }

  #foot_h {
    color: white;
    border-left: 13px solid white ;
    border-radius: 5px;
    left: 20px;
    width: 50%;
    top: 10px;
    padding: 15px;
    font-family: agency fb;
    font-size: 30px;
    position: relative;
  }

  #side_foot {
    height: 150px;
    border-left: 13px solid white ;
    width: 57%;
    border-radius: 5px;
    position: relative;
    top: -120px;
    left: 600px;
    padding: 15px;
    font-size: 15px;
    color: white;
    font-family: agency fb;
  }

  #mail {
    color: #daae51;
    text-decoration: none;
  }
  #mail:hover {
    color: #fffac8;
  }
 
  #side_foot2 {
    height: 150px;
    border-left: 13px solid white ;
    width: 57%;
    border-radius: 5px;
    position: relative;
    top: -300px;
    left: 1100px;
    padding: 15px;
    font-size: 15px;
    color: white;
    font-family: agency fb;
  }