body {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
/* #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(50, 243, 32);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: red;
} */
.navbar {
  overflow: hidden;
  background-color: #161725;
  font-family:Trebuchet MS;
  font-weight: bold;
  
}

#logo{
font-family:monospace;
font-weight: lighter;
float: left;
letter-spacing: 5px;
width: 18%;
}
.navbar .active {
background: rgb(255, 205, 205);
color: #161725;

}
#logo a:hover{
background:#161725 ;
}


.navbar a {
float: right;
font-size: 25px;
color: rgb(255, 255, 255);
text-align: center;
padding: 18px 18px;
text-decoration: none;

}
.navbar a:hover {

  background: linear-gradient(180deg, rgba(164,252,255,1) 0%, rgba(58,45,255,1) 100%);
transition: 1s;
  }
#myBtn {
display: none;
position: fixed;
bottom: 100px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: #161725;
color: black;
cursor: pointer;
padding: 15px;
border-radius: 4px;
opacity: .7;
}
#myBtn:hover {
  background-color: #555;
}

.head {
  font-family: agency fb;
  position: relative;
  top: 100px;
  left: 40px;
}

.head_h {
  color: white;
  font-size: 5rem;
  margin-bottom: 0px;
}

.head_h2,
.head_h3 {
  color: #ffffff;
  font-size: 3rem;
}

#c_mail {
  color: bisque;
  text-decoration: none;
}

.head_h3 {
 position: relative;
 left: 850px;
 margin-top: 0;
}

#footer {
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 1;
  background-color: #000000;
  margin-top: 100px;
  height: 300px;
  padding: 30px;
  font-size: 1.2rem;
 
}

#foot_h {
  color: white;
  font-family: agency fb;
}

#side_foot {
  height: 300px;
  border-left: 13px solid white ;
  width: 57%;
  border-radius: 5px;
  position: relative;
  top: -200px;
  left: 700px;
  padding: 15px;
  font-size: 15px;
  color: white;
  font-family: agency fb;
}
#name , #email, #message{
  background-color: #000000;
  outline: none;
  border: none;
  margin-top: 30px;
  border-bottom: 5px solid white;
  width: 500px;
  padding-bottom: 4px;
  font-family: agency fb;
  font-size: 30px;
  color: white;
}
#message {
  padding-bottom: none;
}

#submitBtn {
  background-color: burlywood;
  border: 3px solid rgb(240, 177, 6);
  height: 30px;
  margin: 0;
  position: relative;
  bottom: 25px;
  font-family: agency fb;
  font-size: 1.5rem;
  padding-bottom: 30px;
}

 